<div class="modal fade in" id="modalUpdate">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div id="modalMessage"></div>
                <h4 class="modal-title" id="modalUpdateTitle"></h4>
            </div>

            <div class="modal-body" id="modalBodyUpdate">
                <span id="spinner"></span>
            </div>

            <div class="modal-footer" id="modalUpdateFooter">

                    <span id="button1">
                        <button type="submit" class="btn btn-black" id="saveChangesBtn">Guardar cambios</button>
                    </span>

                    <span id="button2">
                        <button type="submit" class="btn btn-black" id="saveChangesBtn2">Guardar cambios</button>
                    </span>

                    <span id="button3">
                        <button type="submit" class="btn btn-black" id="saveChangesBtn3">Guardar cambios</button>
                    </span>

                    <span id="button4">
                        <button type="submit" class="btn btn-black" id="saveChangesBtn4">Guardar cambios</button>
                    </span>

                    <span id="button5">
                        <button type="submit" class="btn btn-black" id="saveChangesBtn5">Guardar cambios</button>
                    </span>
                    <span id="button6">
                        <button type="submit" class="btn btn-black" id="saveChangesBtn6">Guardar cambios</button>
                    </span>
            </div>
        </div>
    </div>
</div>
